@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat";
  overflow-x: hidden;
}

span {
  @apply text-10 font-medium leading-pattern;
}

p {
  @apply text-12 font-medium leading-pattern;
}

h6 {
  @apply text-16 font-medium leading-pattern;
}

h5 {
  @apply text-20 font-medium leading-pattern;
}

h4 {
  @apply text-24 font-medium leading-pattern;
}

h3 {
  @apply text-30 font-medium leading-pattern;
}

h2 {
  @apply text-36 font-medium leading-pattern;
}
